@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&display=swap')

// main colors
$mainPurple: #614A9D
$mainPink: #ED4296
$mainBlack: #373F50
$mainRed: #FF0815
$mainFont: 'Montserrat', sans-serif

@import "buttons"
@import "main"
@import "zero-one"

body
  margin: 0
  padding: 0
  font-family: $mainFont
  color: white


section
  width: 100%
  background: url("/images/8.png")

.container
  width: 85%
  margin: 0 auto

#zero-one
  background: url('../images/top_curve.svg') no-repeat
  background-size: 100%
