.header-slogans
  p
    margin: 0

.one-split
  display: flex
  justify-content: space-between

.one-header-1
  margin-top: 90px !important
  font-weight: 700
  font-size: 74px

.one-header-2
  font-weight: 900
  font-size: 92px
  text-transform: uppercase
  padding: 0

.one-header-3
  margin-top: 140px !important
  font-weight: 700
  font-size: 64px
  width: 600px
  border: 1px solid red

.section-number
  font-size: 236px
  font-weight: 900
  text-shadow: 2px 2px 80px $mainBlack
  opacity: 30%
  margin-top: 100px !important
  position: relative

.number-border
  width: 80px
  border-bottom: 15px solid white
  position: absolute
  bottom: 15px
  right: 15px